DATABASE_URL="<replace-with-your-prisma-dev-or-postgres-url>"
AUTH_SECRET="<generate-with-openssl-rand-base64-32>"
APP_URL="http://localhost:3000"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_PRICE_ID=""
ROOT_DOMAIN=taplateforme.com
